@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
}

:root{
   --title-font: 28px;
   --description-font: 18px;
   --header-font: 52px;
   --price-des-font: 16px;
   --primary-color: #3A3A3A;
   --price-des-color: #787885;
   --white-color: #fff;
   --res-title-font: 20px;
   --res-description-font: 18px;
   --res-header-font: 36px;
   --res-price-des-font: 12px;
}


/* header section styles start */
header{
    padding: 50px 245px;

}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;  
    
}

li{
    list-style: none;
    color: var(--primary-color)
}

li a{
    text-decoration: none;
    margin-left: 40px;
    font-size: var(--description-font);
    color: var(--primary-color)
}

.page-logo a{
    text-decoration: none;
    font-size: var(--title-font);
    color: var(--primary-color);
}


.banner-content{
    display: flex;
    background: url(images/Circle\ design.svg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    padding-bottom: 80px;
    top: 60px;
}

.banner-txt{
    margin-top: 150px;
    width: 580px;
}
 
.banner-title{
    font-size: var(--header-font);
    font-weight: 700;
}
.banner-des{
    font-size: var(--description-font);
    font-weight: 600;
    margin: 20px 0px;
}

.primary-btn{
    color: var(--white-color);
    padding: 12px 26px;
    border-radius: 100px;
    cursor: pointer;
    background-color: #E02C6D;
    border: none
}

.banner-img{
   position: relative;
   left: 400px;
   top: 40px;
}
/* header section styles end */


/* main styles */

.sponsors{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 80px;
}

.collection-container{
    margin-bottom: 80px;
}

.collection-title{
    text-align: center;
    font-size: var(--title-font);
    margin-top: 120px;
    margin-bottom: 60px;

}

.collection-content{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 30px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.collection-card{
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
}


.collection-card img{
   width: 100%;
   object-fit: cover;
   object-position: center;
}

.see-more-btn{
    text-align: end;
    margin-top: 20px;
    margin-right: 284px;
    color: #E02C6DDE;
    text-decoration: none;
}

.see-more-btn a{
    font-size: var(--description-font);
    color: #E02C6DDE;
    text-decoration: none;
}


.features-container{
    display: flex;
    margin-left: 220px;
    margin-right: 290px;
    margin-bottom: 120px;
    align-items: center;
    justify-content: center;
    gap: 120px;
}


.features-container img{
    width: 60%;
    height: auto;
}

.features-container h1{
    font-size: var(--header-font);
    margin-bottom: 10px;
}

.features-container p{
    font-size: var(--description-font);
    margin-bottom: 10px;
}

/* footer styles */


footer{
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #0A0826;
    color: var(--white-color);
    padding: 70px;
}

footer h2{
    font-size: var(--title-font);
    color: var(--white-color);
}

footer h3{
    font-size: var(--price-des-font);
    margin-top: 8px;
    color: #787885;
}

.fa-facebook, .fa-square-instagram, .fa-twitter, .fa-youtube{
    margin-top: 16px;
    padding: 6px;
    background-color:#4c4878;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 20px;
}


















/* reponsive for small device*/

@media screen and (max-width:576px){

    header{
        padding: 20px 40px;
    }

    .nav-container{
      flex-direction: column;
    }

    li a{
    margin-left: 10px;
    font-size: 14px
    }
    
    
    .page-logo{
        margin-bottom: 14px;
    }

    .page-logo a{
       font-size: 18px;
    }


    .banner-content{
        flex-direction: column-reverse;
        background-position: top center;
        background-size: 100%;
        padding-bottom: 0px;
        bottom: 50px;
    }

    .banner-img{
        left: 10px;
        top: 14px;
    }
      

    
    .banner-img img{
        width: 100%;
        align-items: center;
    }

    .banner-txt{
        margin-top: 52px;
        text-align: center;
        width: 100%;
        height: auto;
    }

    .banner-title{
        font-size: 24px;
    }

    .banner-des{
        font-size: 12px;
        margin: 8px 0px;
    }

    /* main  section responsive */


        .sponsors{
            flex-wrap: wrap;
            gap: 20px;
        }

        .collection-container{
            margin-bottom: 25px;
        }

        .collection-title{
            margin-top: 50px;
            margin-bottom: 20px;
        }

        .collection-content{
            grid-template-columns: 1fr;
        }

        .see-more-btn{
            margin-right: 20px;
        }
        .features-container{
            flex-direction: column-reverse;
            margin: 0px 25px;
            gap: 30px;
            text-align: center;
        }

        .features-container h1 {
            font-size: var(--res-header-font);
        }
        .features-container img{
            width: 100%;
            margin-bottom: 10px;
        }
        
        footer{
            padding: 25px;
        }
        footer h2{
            font-size: var(--res-title-font);
        }

        footer h3{
            font-size: var(--res-price-des-font)
        }
}

/* responsive for medium device */

@media screen and (min-width:576px) and (max-width:992px){

    header{
        padding: 30px 60px;
    }


    .nav-container{
        flex-direction: column;
      }

      .page-logo{
        margin-bottom: 12px;
      }

      .banner-content{
        flex-direction: column-reverse;
        background-position: top center;
        background-size: 80%;
        padding-bottom: 0px;
        bottom: 50px;
    }

    .banner-img{
        left: 100px;
    }
          
    .banner-img img{
        width: 70%;
        align-items: center;
    }


    .banner-txt{
        margin-top: 100px;
        text-align: center;
    }

    .banner-title{
        font-size: var(--res-header-font);
    }

    .banner-des{
        font-size: var(--res-description-font);
    }

    .sponsors{
        flex-wrap: wrap;
        gap: 20px;
    }

    .collection-content{
        grid-template-columns: repeat(3, 1fr);

    }

    .see-more-btn{
        margin-right: 20px;
    }

    .features-container{
        flex-direction: column-reverse;
        margin: 0px 25px;
        gap: 30px;
        text-align: center;
    }

    .features-container h1 {
        font-size: var(--res-header-font);
    }
    .features-container img{
        width: 100%;
        margin-bottom: 10px;
    }



}